- if @already_exists
  %h1 Short URL already exists
  %p
    Sorry, the short URL you’ve requested already exists and points to #{@already_exists.target}.  Do you want to replace it with #{@redirect.target}?
    = link_to "Yes", update_redirect_path(@already_exists, target: @redirect.target)
- else
  = render 'request_created'
