/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: #DDD;
  font-family: 'Gotham SSm A','Gotham SSm B','Helvetica Neue','Helvetica','Arial Unicode','Arial',sans-serif;
}

#main {
  /* background: white; */
  color: #333;
  padding: 20px;
  position: relative;
  /* top: 59px; */ /* Also not that */
  width: 968px;
  margin: 0px auto;
}

#topbar {
  background: #C60C30;
  /* height: 100px; */ /* Not that */
}

#mainbody {
}

:link, :visited {
  color: #c60c30;
  text-decoration: none;
}

:link:hover, :visited:hover {
  text-decoration: underline;
}
