<!DOCTYPE html>
<html>
<head>
  <title>Voom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main">
  <div id="topbar">
    <a title="Royal Opera House home" href="http://www.roh.org.uk">
    <img width="64" height="86" alt="Royal Opera House brandmark" src="http://roh.global.ssl.fastly.net/images/brandmark.png" />
    </a>
  </div>
  <div id="mainbody">
  <%= yield %>
  </div>
<div>

</body>
</html>
